.navbar {
    padding: 2rem;
    background: #f8f9fa;

    .container {
        display: flex;
        justify-content: space-between;
        max-width: 140rem;
        margin: auto;
        align-items: center;

        .logo {

            &__text {
                font-size: 3rem;

                .sub-color {
                    color: #007bff;
                }
            }
        }

        .links {
            display: flex;
            align-items: center;

            li, a {
                color: black;
                font-size: 2rem;
                margin-left: 2.5rem;
            }
        }
    }
}